###> docker config
SERVICE_NAME=challenge
NGINX_PORT=80
MYSQL_ROOT_PASSWORD=root
MYSQL_DB_NAME=challenge_database
MYSQL_PORT=3307
SERVER_NAME=challenge.local
MYSQL_PORT_TEST=3308
###< docker config

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=0b80b7ac0d2152c51064dbfa162e7afd
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:root@challenge_mysql:3306/challenge_database?serverVersion=13&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
# Choose one of the transports below
# MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
# MESSENGER_TRANSPORT_DSN=redis://localhost:6379/messages
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
###< symfony/messenger ###
